{% extends 'dailytunes/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h4><strong>You are already logged in</strong></h4>
<small>Do you want to <a href="{% url 'dailytunes:logout' %}"><strong>LogOut</strong></a></small>

{% else %}
  <h2 style="background-color: yellow; text-align: center" >Login</h2>
<form method="post" style="text-align: center">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: lightgreen">Login</button>
</form>
{% endif %}
{% endblock %}

